$midnightGreen:#014E56; //header-color
$lightCoral:#F67E7E; //text-red
$raptureBlue:#79C8C7; //text-dark
$policeBlue:#2C6269; //last-color
$deepGreen:#004047; //section_two-color
$sacramentoGreen:#012F34; //section-color
$darkGreen:#002529; //footer-color
$white:#ffffff; //textcolor
